* {
    box-sizing : border-box;
    margin : 0;
    padding : 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    background : #476A6F;
    height : 80 px;
    display : flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top : 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width : 1800px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background-color: aliceblue;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}   

.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius : 4px;
    background: #ECBEB4;
    color: #fff;
}

.button:hover{
    background: #DE8E7c;
    transition: all 0.2 ease;
}

.navbar__links:hover{
    color: #DE8E7c;
    transition: all 0.2 ease;
}

/* Smart Home Section */
.main {
    background-color: #CEF3EC;
}

.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #CEF3EC;
    z-index: 1;
    max-width: 1300px;
    padding: 0 50 px;
}

.main__content h1 {
    font-size: 4rem;
    background-color: #841C26;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

.main__content h2{
    font-size: 2rem;
    background-color: black;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

.main__content p{
    margin-top: 1rem;
    font-weight: 700;
}

.main__btn{
    background-color: #841C26;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    position: relative;
    transition: all 0.5s;
    outline: none;
}

.main__btn a{
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

#main__img{
    height: 80%;
    width: 80%;
}

/* Mobile Responsive Smart Home Section*/
@media (max-width: 960px){
    .main__container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main__content h1{
        font-size: 3rem;
        margin-top: 2rem;
    }

    .main__content h2{
        font-size: 1.5rem;
    }

    .main__content p{
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media (max-width: 768px){
    .main__container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main__content{
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1{
        font-size: 2rem;
        margin-top: 2rem;
    }

    .main__content h2{
        font-size: 1.5rem;
    }

    .main__content p{
        margin-top: 0.5rem;
        font-size: 1.2rem;
    }
}


