* {
    box-sizing : border-box;
    margin : 0;
    padding : 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    background : #476A6F;
    height : 80 px;
    display : flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top : 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width : 1800px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background-color: aliceblue;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}   

.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius : 4px;
    background: #ECBEB4;
    color: #fff;
}

.button:hover{
    background: #DE8E7c;
    transition: all 0.2 ease;
}

.navbar__links:hover{
    color: #DE8E7c;
    transition: all 0.2 ease;
}

/* Mobile Responsive*/
@media (max-width: 960px){
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height : 80px;
        z-index: 1;
        width: 100%;
        max-width: 1330px;
        padding: 0;

    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5 ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }

    .navbar__menu.active{
        background: black;
        top: 100%;
        opacity: 1;
        transition: all 0.5 ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo{
        padding-left: 25px;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item{
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn{
        padding-bottom: 2rem;
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Smart Home Section */

.main__content h1 {
    font-size: 4rem;
    background-color: #841C26;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

.main__content h2{
    font-size: 2rem;
    background-color: black;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

.main__content p{
    margin-top: 1rem;
    font-weight: 700;
}

.main__btn{
    background-color: #841C26;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    position: relative;
    transition: all 0.5s;
    outline: none;
}

.main__btn a{
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

#main__img{
    height: 80%;
    width: 80%;
}
.main__content h2{
    font-size: 2rem;
    background-color: black;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

/* Living Room Section */
.rooms{
    background-color: #CEF3EC;
    padding-top: 70px;
    padding-right: 520px;
}

.rooms__container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: left;
    justify-self: left;
    margin: 0 auto;
    height: 180vh;
    background-color: #CEF3EC;
    z-index: 1;
    max-width: 1300px;
    padding: 0px 40px;
}

.room__control{
    padding-left: 50px;
}

.rooms__card h2{
    font-size: 2.4rem;
    background-color: black;
    color: #fff;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

.rooms__card h3{
    font-size: 2rem;
    background-color: black;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

.buttons_group{
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width : 2000px;
    margin: 0 auto;
    padding: 0 100px;
}

.control__btn:hover{
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0 , 0.2);
}

.lock_button{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 40%;
    max-width : 2000px;
    margin: 0 auto;
    padding: 0 20px;
    border-radius : 10px;
    background: #476A6F;
    font-size: 1rem;
    color: #fff;
    padding-top: 12px;
}

.lock_button h2{
    font-size: 1.5rem;
    background-color: aliceblue;
}

.toggle-btn{
    position: relative;
    height: 50px;
    width: 100px;
    background: #A9FF85;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.toggle-btn.active{
    background-color: #FC3936;
}

.toggle-btn .icon{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-55%);
    height: 35px;
    width: 35px;
    font-size: 27px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.4s ease;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.toggle-btn.active .icon{
    left: calc(100% - 35px - 20px);
    color: black;
}

.toggle-btnSwitch{
    position: relative;
    height: 50px;
    width: 100px;
    background: #A9FF85;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.toggle-btnSwitch.active{
    background-color: #FC3936;
}

.toggle-btnSwitch .icon{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-55%);
    height: 35px;
    width: 35px;
    font-size: 27px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.4s ease;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.toggle-btnSwitch.active .icon{
    left: calc(100% - 35px - 20px);
    color: black;
}

.toggle-switch{
    position: relative;
    height: 50px;
    width: 100px;
    background: #A9FF85;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.toggle-switch.active{
    background-color: #FC3936;
}

.toggle-switch .icon{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-55%);
    height: 35px;
    width: 35px;
    font-size: 27px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.4s ease;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.toggle-switch.active .icon{
    left: calc(100% - 35px - 20px);
    color: black;
}

/* Mobile Responsive Main Content*/
@media (max-width: 960px){
    .rooms{
        height: 700vh
    }   

    .rooms__container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .rooms__card{
        width: 90%;
        height: 100%;
    }

    .buttons_group{
        display: grid;
        grid-template-columns: auto;
        grid-gap: 2.2rem;
        align-items: center;
        justify-self: center;
        width: 120%;
        margin: 0 auto;
        height: 20vh;
    }

    .lock_button{
        width: 120%;
        height: 100%;
    }

}